* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 20px auto;
}
.mainlogo {
  width: 100px;
}
.nav-ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.2rem;
  color: #767676;
}
.nav-ul li:hover {
  color: #333;
  cursor: pointer;
  transition: color 0.1s ease-in;
  transform: scale(1.1);
}
.nav-btn {
  padding: 14px;
  border-radius: 30px;
  background-color: #04ddb2;
  color: white;
  border: none;
  font-size: 1.2rem;
  transform: scale(1);
  transition: all 0.3s ease-in;
}
.nav-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}

/* HERO section */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  color: #767676;
  margin-bottom: 2rem;
}
.hero-heading {
  font-size: 2rem;
  color: #333;
}
.hero-secondary-heading {
  color: #04ddb2;
}
.hero-text {
  padding-top: 1.4rem;
  text-align: center;
}
.hero-secondary-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
}
.video-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.video-img {
  max-width: 900px;
  border-radius: 19px;
  transform: scale(0.5) rotate(0.1);
  transition: transform 0.3s linear;
  overflow: hidden;
}
.video-img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.1);
  transition: transform 0.3s linear;
}
.secondary {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.secondary-btn {
  margin-bottom: 3rem;
}

/* Footer section */
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #767676;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #767676;
  max-width: 1072px;
  margin: auto;
}
.footer-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #767676;
}
.footer-ul li:hover {
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease-in;
  transform: scale(1.1);
}
.copyright-links {
  pointer-events: none;
}
.footer-logo {
  margin-bottom: 1.2rem;
}
.footer-social {
  display: flex;
  gap: 10px;
}
.footer-heading {
  margin-bottom: 1.6rem;
  color: #333;
}
.footer-sociallogo {
  width: 30px;
  height: 30px;
  color: #04ddb2;

  transition: all 0.3s ease-in;
}
.footer-sociallogo:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}
